/**
@title: CSS para la practica final de precurso de Neoland
@description: Usa algo parecido al patron SASS 7-1, Metodología BEM y una mezcla de 
BASCSS y algo parecido a Tachions CSS, Para el grid se usa flex (layout/grid.css)...
@author: Antón Zekeriev Rodin
@url: www.lagunadelcampillo.es
*/

/* Base */
@import url('base/reset.css');
@import url('base/typography.css');

/* Layout */
@import url('layout/grid.css');
@import url('layout/header.css');

/* Components */
@import url('components/buttons.css');

/* Utils */
@import url('utils/variables.css');
@import url('utils/helpers.css');
@import url('utils/margins.css');
@import url('utils/paddings.css');