.footer {
    background-color: var(--main-color);
    min-height: 20rem;
}

.footer__gotopcontainer {
    display: block;
    position: relative;
    width: 5rem;
    height: 5rem;
    margin: 2rem auto;
    transform: rotate(90deg);
}
.footer__gotop:link, .footer__gotop:visited {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    padding: 2rem;
    color: var(--grey-5);
}

.footer__gotop:hover, .footer__gotop:active {
    text-decoration: none;
}

.footer__social {
    margin: 2rem auto;
    max-width: var(--width-desktop);
}

.footer__social-item {
    border-radius: 50%;
    font-size: 1.6rem;
    line-height: 1.6rem;
    background-color: var(--grey-5);
}

.footer__text {
    margin: 2rem auto;
    max-width: var(--width-desktop);
}

.footer__link, .footer__link:link, .footer__link:visited {
    font-style: italic;
    font-weight: bold;
    color: var(--white);
}

.footer__icon {
    width: 1.6rem;
    height: 1.6rem;
}