/**
* Very Basic Flex Grid
*/

.container {
    margin: 10rem auto;
    max-width: var(--width-desktop);
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.aic {
    align-items: center;
}

.ail {
    align-items: flex-start;
}

.air {
    align-items: flex-end;
}

.jc-space-between {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.jc-start {
    justify-content: start;
}

@media only screen and (max-width: 640px) {
    .hidden-xs {
        display: none;
    }
}