/**
* Very Basic Flex Grid
*/

.container {
    margin: 0 auto;
    max-width: 120rem;
}

.flex {
    display: flex;
}

.aic {
    align-items: center;
}

.ail {
    align-items: flex-start;
}

.air {
    align-items: flex-end;
}

.jc-space-between {
    justify-content: space-between;
}