/* Navigation */
.navigation {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navigation__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation__logo, .navigation__menu, .navigation__mobile {
    margin: 2rem;
}

.navigation__logo img {
    width: 7rem;
}

.navigation__checkbox, .navigation__label, .navigation__mobile {
    display: none;
}

/* Nav */
.nav {

}

.nav__list {
    list-style: none;
}

.nav__item {
    display: inline;
}

.nav__link:link, .nav__link:visited {
    padding: 0 2rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--grey-2);
}

.nav__link:hover, .nav__link:active {
    color: var(--white);
}

.nav__link-active {
    color: var(--white) !important;
}

@media only screen and (max-width: 640px) {
    
    /* Navigation */
    .navigation__container {
        flex-wrap: wrap;
    }

    .navigation {
        background: var(--black);
        position: relative;
    }

    .navigation__mobile {
        margin-right: 3rem;
        display: inline-block;
    }
    
    .navigation__logo {
        margin-left: 3rem;
    }

    .navigation__menu {
        display: none;
        margin: 0;
    }

    .navigation__label {
        text-align: center;
        letter-spacing: 0.5rem;
        font-size: 1.2rem;
        color: var(--white);
        display: inline-block;
    }

    /* Nav */
    .nav {
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    .nav__link:link, .nav__link:visited {
        letter-spacing: .4rem;
        font-weight: 300;
        display: inline-block;
        padding: 1rem;
        text-align: center;
        font-size: 1.6rem;
        text-decoration: none;
        color: var(--grey-2);
    }

    .nav__link:not(:last-child) {
        border-bottom: 1px solid var(--grey-2);
    }

    /* Checkbox Hack */
    /* Tiene que ser hijo, si no, no funciona */
    .navigation__checkbox:checked ~ .navigation__menu { 
        display: inline-block;
        width: 100%;
    }

}