/* Buttons */
.btn, .btn:link, .btn:visited {
    padding: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
}

.btn:focus {
    outline: none;
}

/* White */
.btn-white, .btn-white:link, .btn-white:visited {
    color: var(--white);
    border: 1px solid var(--white);
}

.btn-white, .btn-white:hover, .btn-white:active {
    color: var(--white);
    border: 1px solid var(--white);
}

/* Default */
.btn-default, .btn-default:link, .btn-white:default {
    color: var(--font-color);
    border: 1px solid var(--font-color);
}

.btn-default, .btn-default:hover, .btn-white:active {
    color: var(--font-color);
    border: 1px solid var(--font-color);
}