.form {
    margin-top: 4rem;
}

.form__group:not(:last-child) {
    margin-bottom: 2rem;
}

.form__input {
    display: block;
    width: 100%;
    font: inherit;
    color: var(--font-color);
    font-size: var(--default-font-size);
    padding: .5rem;
    border: 0px;
    border-bottom: 2px solid var(--font-color);
}

.form__input:focus {
    outline: none;
}

.form__input:valid {
    border-bottom: 2px solid var(--green);
}

.form__label {
    width: 100%;
    display: block;
    padding: .5rem;
    font: inherit;
    color: var(--font-color);
    font-size: var(--default-font-size);
}

.form__textarea {
    width: 100%;
    border: 2px solid var(--font-color);
    font: inherit;
    color: var(--font-color);
    font-size: var(--default-font-size);
}

.form__textarea:valid {
    border: 2px solid var(--green);
}

.form__textarea:focus {
    outline: none;
}

.form__button, .form__button:link, .form__button:visited {
    font-weight: 600;
    border: 2px solid var(--font-color);
    width: 100%;
}

.form__button:hover, .form__button:active, .form__button:focus {
    font-weight: 600;
    border: 2px solid var(--font-color);
    width: 100%;
}